<section>
    <h2>About Me</h2>
    <ul>
      <li><strong>Name:</strong> Lorbelle Ganzan</li>
      <li><strong>Age:</strong> 21</li>
      <li><strong>Location:</strong> San Miguel, Manolo Fortich, Bukidnon</li>
      <li><strong>Study:</strong> Information Technology at Northern Bukidnon State College (2nd Year)</li>
      <li><strong>Gender:</strong> Male</li>
      <li><strong>Marital Status:</strong> Single</li>
    </ul>
    <p>
      Hello! My name is Lorbelle Ganzan, a passionate web developer studying Information Technology at Northern Bukidnon State College. I'm currently in my 2nd year, exploring and learning new aspects of technology.
    </p>
<h2>HOBBIES</h2>
    <p>Sleeping</p>
    <p>Playing chess</p>
    <p>Volleyball</p>
    <p>Basketball</p>
    <p>watching anime</p>
    <p>reading manhwa</p>
  </section>

  <footer>
    &copy; 2023 Lorbelle Ganzan
  </footer>